<div class="container">
  <h2> {{ 'PAGES.BOOK_MANAGEMENT.BOOK.SEARCH.TITLE' | translate }}</h2>

  <div class="search-form">
    <input type="text" [(ngModel)]="title"
           placeholder="{{ 'PAGES.BOOK_MANAGEMENT.BOOK.SEARCH.ENTER_TITLE' | translate }}"/>
    <input type="text" [(ngModel)]="author"
           placeholder="{{ 'PAGES.BOOK_MANAGEMENT.BOOK.SEARCH.ENTER_AUTHOR' | translate }}"/>
    <input type="text" [(ngModel)]="isbn"
           placeholder="{{ 'PAGES.BOOK_MANAGEMENT.BOOK.SEARCH.ENTER_ISBN' | translate }}"/>
    <button class="btn btn-primary"  (click)="searchBooks()">{{ 'PAGES.BOOK_MANAGEMENT.BOOK.SEARCH.TITLE' | translate }}</button>

  </div>

  <label for="bookSelect">Select Book:</label>
  <select id="bookSelect" (change)="onBookSelect($event)">
    <option *ngFor="let book of books" [value]="book.isbn">
      {{ book.title }} by {{ book.author }} (ISBN: {{ book.isbn }})
    </option>
  </select>
</div>
