.clickable {
  cursor: pointer;
}

.border-tbl {
  border: 1px solid #FAFAFA;
}

.cms-td {
  //min-height: 45px;
  min-height: 200px;
  border: 1px solid #FAFAFA;
}
.text-center {
  width: 10%;
}
tbody {
  background-color: #5fd0f3!important;
}

.icon-link {
  margin-right: 8px; /* Adjust the spacing as needed */
}
