<app-bms-page-view
  [pageTitle]="'PAGES.BOOK_MANAGEMENT.BOOK.TITLE' | translate"
  [pageAlert]="successAlert"
>
  <ng-container mainContent>
    <div class="row d-flex mb-2">
      <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-primary" (click)="onNewBookClick()" >
          {{ 'PAGES.BOOK_MANAGEMENT.BOOK.ADD_BOOK' | translate }}
        </button>
      </div>
    </div>
    <ng-container *ngIf="books$ | async as books">
      <bms-data-table
        [showIndex]="true"
        [columns]="dataTableColumns"
        [records]="books"
        [clickable]="true"
        (rowClick)="onDetailBookClick($event)"
      >
      </bms-data-table>
    </ng-container>
  </ng-container>
</app-bms-page-view>
